/* titulo */
.titulo{
    font-size: 30px;
    text-align: center;
}

/* tabla */

.seccion-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

table {
    table-layout: fixed;
    width: 75%;
    border-collapse: collapse;
    border: 3px solid rgb(0, 115, 255);
}

table td {
    text-align: center;
}

/* .lenghtProducts{
    color: black;
    background-color: white;
} */

td th {
    margin: 3px;
    border: 3px rgb(0, 115, 255);
}

th {
    color: white;
    background-color: rgb(0, 115, 255);
}

tr:hover{
    background-color: #add8e6;
}


/* buttones */

button {
    margin: 3px;
}

.add-product{
    margin: 20px;
    background-color: hsl(210, 100%, 50%);
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
}  

.add-product:hover{
    color: white;
}

.options{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.edit{
    width: 63px;
    background-color: hsl(210, 100%, 50%);
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
}

.edit:hover{
    color: white;
}