<p class="titulo">Todos los productos</p>

<div class="seccion-1">
    <app-getproductbyname class="button-get-product-by-name" (find)="onFind($event)">
    </app-getproductbyname>

    <button class="add-product" (click)="onSubmit()">Nuevo producto</button>
</div>

<div class="table-container">
    <table summary="Lista de productos">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Precio</th>
                <th scope="col">opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="td" *ngFor="let product of products">
                <td (click)="watch(product.id)">{{product.name}}</td>
                <td (click)="watch(product.id)">{{product.category}}</td>
                <td (click)="watch(product.id)">{{product.description}}</td>
                <td (click)="watch(product.id)">{{product.stock}}</td>
                <td (click)="watch(product.id)">{{product.price}}</td>
                <td>
                    <div class="options">
                        <button (click)="edit(product.id)" class="edit">Editar</button>
                        <app-deleteproduct [id]="product.id" (delete)="onDelete($event)"></app-deleteproduct>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th scope="row" colspan="2">Número total de productos: {{lenghtProducts}}</th>
                <!-- <th class="lenghtProducts" colspan="1">{{lenghtProducts}}</th> -->
            </tr>
        </tfoot>
    </table>
</div>