<div class="titulo">
    <h3>Estas editando a :<p>{{product.name}}</p></h3>
</div>

<div class="seccion">
    <div class="form-container">
        <form class="formulary" [formGroup]="formEditProduct" (ngSubmit)="edit(formEditProduct.value)">
            <label class="text">Nombre del producto</label>
            <input class="add-form-input" formControlName="name">
            <label class="text">Descricion</label>
            <input class="add-form-input" formControlName="description">
            <label class="text">Categoria</label>
            <input class="add-form-input" type="text" formControlName="category">
            <label class="text">Precio</label>
            <input class="add-form-input" type="number" formControlName="price">
            <input type="submit" value="Editar" class="button">
        </form>
    </div>
</div>