<h2>Formulario de productos</h2>

<div class="seccion">
    <div class="form-container">
        <form class="formulary" [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
            <label class="text">Nombre del producto</label>
            <input class="add-form-input" type="text" formControlName="name">
            <label class="text">Descricion</label>
            <input class="add-form-input" type="text" formControlName="description">
            <label class="text">Categoria</label>
            <input class="add-form-input" type="text" formControlName="category">
            <label class="text">Disponiblidad</label>
            <input class="add-form-input" type="number" formControlName="stock">
            <label class="text">Precio</label>
            <input class="add-form-input" type="number" formControlName="price">
            <div class="button-container">
                <input type="submit" value="Agregar" class="button" />
            </div>
        </form>
    </div>
</div>