/* titutlo */
h2 {
  text-align: center;
  margin: 40px;
}

/* formulario  */

.seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 500px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

/* input */
.formulary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulary,
input {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}


.add-form-input {
  width: 80%;
}

/* boton */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 70px;
  color: black;
  background-color: hsl(210, 100%, 50%);
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.button:hover{
  color: white;
}