.formulary, input{
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.button{
    width: 70px;
    height: 30px;
    color: white;
    background-color: #04AA6D;
    cursor: pointer;
    border: none;
    align-items: center;
    text-align: center;
}